@import "tailwindcss";


/* @theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* h1 {
  color: #ffa500;  Approximation of the original color 
} */